.body{
    background: black;
}
.main-text{
    color: white;
    margin-bottom: 20px;
    padding-top:120px;
    text-align: center;
    
}
.main-content{
    color: white;
    font-size: 18px;
    margin-bottom: 100px;
    text-align: center;
}
.section-name{
    color:white;
    word-break: break-all;
    margin: 0 auto;
    font-weight: bolder;
    font-size:22px;
    margin-bottom: 5px;
    text-align: center;
}

@media(max-width:930px){
    .section-name{
        color:white;
        width: 100vw;
        word-break: break-all;
        margin: 0 auto;
        font-weight: bolder;
        font-size:22px;
        margin-bottom: 5px;
        text-align: center;
    }
}

.next-section{
    padding-bottom: 250px;

}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: auto;
}
.section-grid{
    position: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    

    width: 930px;
    height: 95%;

    margin-top: 15px;

    padding-bottom: 50px;
}
@media(max-width:930px){
    .section-grid{
        position: inherit;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 0;
        width: 930px;
        height: 95%;
        margin-top: 15px;
        padding-bottom: 50px;
    }
}

.text{
    color: white;
    position: inherit;
    width: 65%;
    justify-content: flex-start;
    padding-right: 1%;
}
@media(max-width:930px){
    .text{
        position: inherit;
        color: white;
        width: 95vw;
        margin: 0 auto;
        text-align: center;
        word-break: break-all;
        padding-bottom: 1%;
    }
}
@media(max-width:615px){
    .text{
        position: inherit;
        color: white;
        width: 95vw;
        margin: 0 auto;
        text-align: center;
        word-break: break-all;
        padding-bottom: 1%;

    }
}


p{
    margin-top: 0;
    margin-bottom: 0;
}

.text p{
    word-break: break-all;
    font-size: 18px;
}


.title{
    font-size: 28px;
}

.section-title{ 
    position: inherit;
    color: white;
    font-size: 24px;
    width: 100vw;
    padding-bottom: 10px;
}

.section-title p{
    font-weight: bold;
    word-break: break-all;
}

@media(max-width:930px){
    .section-title{
        width: 100vw;
        margin: 0 auto;
        color: white;
        font-size: 24px;
        text-align: center;
        
        padding-bottom: 10px;
    }
}

.image-scaling{
    position: inherit;
    width: 34%;
    margin: 0 auto;
    height: 250px;
    background-size: 100% 100%;
    border-radius: 5%;
    border: 2px solid;
    border-color: white;
}

@media(max-width:930px){
    .image-scaling{
        position: inherit;
        width: 45%;
        margin: 0 auto;
        height: 250px;
        background-size: 100% 100%;
        border-radius: 5%;
        border: 2px solid;
        border-color: white;
    }
}

.Section{
    padding-bottom: 3px;
}

.category-card{
    width: 250px;
    
}

.color-setting{
    color: black;
}
