.body{
    background: black;
}
.main-text{
    color: white;
    margin-bottom: 100px;
    padding-top:60px
    
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: auto;
}


.title{
    font-size: 28px;
}