/*https://codingeverybody.kr/%EC%9E%90%EB%B0%94%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8%EB%A1%9C-css-%EB%B3%80%EC%88%98-%EC%A0%9C%EC%96%B4%ED%95%98%EA%B8%B0-%EC%A0%91%EA%B7%BC%EA%B3%BC-%EC%84%A4%EC%A0%95-%EB%B0%A9%EB%B2%95/*/
/*
animation : https://coding-levup.tistory.com/20
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(129,193,71);
    color: #fff;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* or stretch*/
    overflow: hidden;
}

.pb_board{
    position: absolute;
    height: 150px;
    width: 90vw;
    background-image: url("./image/board.png");
    background-size: 100% 100%;
    transform: translateY(50%);
}
/*
max : width 가 value보다 작을때 실행
min : width 가 value 보다 클때 실행
translate : 사진 크기의 비율 만큼 이동
left : 실제 이동 값
*/
@media (min-width : 500px){ 
    .pb_board{
        position: absolute;
        height: 150px;
        width: 500px;
        background-image: url("./image/board.png");
        background-size: 100% 100%;
    }

}

.problem{
    pointer-events: none;
    text-align: center;
    color:black;
    font-size:125%;
    transform: translateY(50px);
}

.board{
    position: absolute;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

    width: 85vw;
    height: 85vw;

    transform: translateY(50%) translateY(170px);
}

@media (min-width : 500px){ 
    .board{
        position: absolute;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;

        width: 500px;
        height: 500px;

        
        transform: translateY(50%) translateY(170px);
    }

}



.hole{ /* unset 는 부모의 상속*/
    width: 100%;
    height: 100%;
    position: relative;
    
}
.hole-in{ /* unset 는 부모의 상속*/
    width: 86%;
    height: 34%;
    position: absolute;
    background-image: url("./image/hole_in.png");
    background-size: 100% 100%;
    transform: translateX(7%) translateY(134%); /* translate 는 전체 사이즈 기준 퍼센트*/
    
}
.hole-top{ /* unset 는 부모의 상속*/
    width: 100%;
    height: 62%;
    position: absolute;
    background-image: url("./image/hide_up.png");
    background-size: 100% 100%;
    top:0%;
}
.hole-bottom{ /* unset 는 부모의 상속*/
    width: 100%;
    height: 62%;
    pointer-events: none;
    position: absolute;
    background-image: url("./image/hide_down.png");
    background-size: 100% 100%;
    top: 62%;
}

.mole{
    width: 71%;
    height: 71%;

    left:14.5%;

    font-size: 100%;
    font-weight: bold;
    color: black;

    transform: translateY(60%);

    position: absolute;

}

.mole .text-rise{
    width: 100%;
    height: 50%;

    pointer-events: none;


    position: absolute;
    text-align: center;
    transform: translateY(110%);

    animation-name: text-rise;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    
}

.mole .mole-rise{
    width: 100%;
    height: 100%;
    position: absolute;

    animation-name: rise;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}


.mole .mole-down{
    width: 100%;
    height: 100%;
    position: absolute;

    animation-name: down;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.mole .text-down{
    width: 100%;
    height: 50%;

    pointer-events: none;

    position: absolute;
    text-align: center;
    transform: translateY(110%);

    animation-name: text-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes rise { /* -% : 위로. +% : 아래로*/
    0%{
        transform: translateX(0%) translateY(0%);
    }
    100%{
        transform: translateX(0%) translateY(-47%);
    }
}

@keyframes down { /* -% : 위로. +% : 아래로*/
    0%{
        transform: translateX(0%) translateY(-47%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}

@keyframes text-rise { /* -% : 위로. +% : 아래로*/
    0%{
        transform: translateX(0%) translateY(110%);
    }
    100%{
        transform: translateX(0%) translateY(20%);
    }
}

@keyframes text-down { /* -% : 위로. +% : 아래로*/
    0%{
        transform: translateX(0%) translateY(20%);
    }
    100%{
        transform: translateX(0%) translateY(110%);
    }
}

.score{
    position: absolute;
    transform: translateY(50%) translateY(170px) translateY(85vw);
    font-size: 2em;
    color: black;
}

@media(min-width : 500px){
    .score{
        position: absolute;
        transform: translateY(50%) translateY(170px) translateY(500px);
        font-size: 2em;
        color: black;
    }

}

.timer{
    position: absolute;
    transform: translateY(50%) translateY(170px) translateY(500px) translateY(30px);
    font-size: 2em;
    color:black
}

.cursor{
    height: 100px; /* 높이 */
    width: 100px; /* 너비 */
    position: absolute;
    background-image: url('./image/hammer.png');
    background-size: 100% 100%;
    transition: background-image .3s ease-out;
    pointer-events: none;
}



.cursor.active{
    animation-name: hammer_crash;
    animation-duration: .3s;

}

.cursor.active-touch{
    animation-name: hammer_crash_touch;
    animation-duration: .3s;

}

@keyframes hammer_crash {
    0%{
        background-image: url('./image/hammer_crash.png');
    }
    100%{
        background-image: url('./image/hammer.png');
    }
}

@keyframes hammer_crash_touch {
    0%{
        background-image: url('./image/hammer.png');
    }
    100%{
        background-image: url('./image/hammer_crash.png');
    }
}